input[type="password"] {
	border: none;
	margin-bottom: 0;
}

#bigbox {
	overflow-x: hidden;
	overflow-y: auto;
}

.detail-main .type ul li .wrap .right {
	right: 26px;
}

.pages .page .page-content {
	background: #fff;
}

.newdetailhsize .toptitle {
	border-bottom: none;
}

.roomDetailInfo .wrap .type-list {
	border-bottom: none;
}

.detail-main .hotel-info .pic-wrap a {
	z-index: 0;
}



/*date时间范围插件修改样式适应手机*/

#dataBox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	z-index: 99;
	top:189px;
}

.ivu-date-picker-with-range .ivu-picker-panel-body {
	min-width: 270px!important;
}

.ivu-date-picker .ivu-select-dropdown {
	left: -40px!important;
}

.ivu-date-picker-cells span {
	width: 30px!important;
}

span.ivu-date-picker-cells-cell {
	width: 35px!important;
}

.ivu-date-picker-cells {
	width: 250px!important;
}
/*隐藏第二个盒子*/

.ivu-picker-panel-content-right{
	display: none !important;
}

/*date结束*/

.bar .icon {
	color:#555
}


.hotel-info-fac .info-pop-box .btn{
	color:#49f !important;
	border-color: #49f !important;;
}



.page-list .page-list-con .list-main .hotel-list .hotel-item .info .name{
	line-height: 16px;
}
.nomore{
	margin-top: 0;
}

.list-pop-fliter .page-cont .list-fliter-box .filter-wrap .filter-con ul.filter-list-subway-l {
	left: 0;
}
.search-field{
	z-index: 9999;
}
.hotel-list-header{
	z-index: 10000;
}

.filter-sp .sp-title .left,.filter-sp .sp-title .right{
	
}
