input[type="password"] {
	border: none;
	margin-bottom: 0;
}

#bigbox {
	overflow-x: hidden;
	overflow-y: auto;
}

.detail-main .type ul li .wrap .right {
	right: 26px;
}

.pages .page .page-content {
	background: #fff;
}

.newdetailhsize .toptitle {
	border-bottom: none;
}

.roomDetailInfo .wrap .type-list {
	border-bottom: none;
}

.detail-main .hotel-info .pic-wrap a {
	z-index: 0;
}


/*date时间范围插件修改样式适应手机*/

#dataBox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	z-index: 99;
	top: 189px;
}

.ivu-date-picker-with-range .ivu-picker-panel-body {
	min-width: 270px!important;
}

.ivu-date-picker .ivu-select-dropdown {
	left: -40px!important;
}

.ivu-date-picker-cells span {
	width: 30px!important;
}

span.ivu-date-picker-cells-cell {
	width: 35px!important;
}

.ivu-date-picker-cells {
	width: 250px!important;
}


/*隐藏第二个盒子*/

.ivu-picker-panel-content-right .ivu-date-picker-cells {
	display: none !important;
}


/*date结束*/


/*list的时间插件*/

#dataBox2 {
	position: absolute;
	top: 52px;
	left: 9px;
	z-index: 1000000;
}

#dataBox2 .ivu-input-icon-normal+.ivu-input {
	width: 60px !important;
	opacity: 0;
}

#dataBox2 .ivu-input-icon {
	display: none;
}

#dataBox2 .ivu-date-picker .ivu-select-dropdown {
	left: 0px!important;
}


/*list date结束*/


/*.bar .icon {
	color: #555
}*/

.hotel-info-fac .info-pop-box .btn {
	color: #49f !important;
	border-color: #49f !important;
	;
}

.page-list .page-list-con .list-main .hotel-list .hotel-item .info .name {
	line-height: 16px;
}

.nomore {
	margin-top: 0;
}

.list-pop-fliter .page-cont .list-fliter-box .filter-wrap .filter-con ul.filter-list-subway-l {
	left: 0;
}

.search-field {
	z-index: 9999;
}

.hotel-list-header {
	z-index: 10000;
}

.filter-sp .sp-title .left,
.filter-sp .sp-title .right {
	position: relative;
	padding: 12px;
	left: 0;
	top: 0;
}

.page-plugin {
	z-index: 2222222!important;
}




@keyframes mapout {
	0% {
		left: 100%;
	}
	100% {
		left: 0;
	}
}
	
@keyframes mapin {
	0% {
		left: 0;
	}
	100% {
		left: 100%;
	}
}

.scrollout {
	animation: mapout;
	/*持续时间*/
	animation-duration: 0.5s;
	/*动画播放次数*/
	animation-iteration-count: 1;
	/*执行方向，动画执行结束时保持在它结束时的状态*/
	animation-fill-mode: forwards;
}

.scrollin {
	animation: mapin;
	/*持续时间*/
	animation-duration: 0.5s;
	/*动画播放次数*/
	animation-iteration-count: 1;
	/*执行方向，动画执行结束时保持在它结束时的状态*/
	animation-fill-mode: forwards;
}
/*地图*/

.daidumap {
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	width: 100%;
	background-color:#fff;
	z-index: 9999999999;
}



.littleMap{
	z-index: 999999;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.ssss:before{
	font-size: 30px;
	color:#444;
	font-weight: bold;
	
}
/*.icon-left-nav:before, .icon-back:before {
    color: #444;
    }*/
 
 
/*大地图信息提示框样式*/  
#BMapLib_SearchInfoWindow0{
	width: 253px !important;
}
#BMapLib_tab_tohere0,#BMapLib_tab_search0{
	height: 100%;
}

#BMapLib_transBox0 td:last-child{
	width: 111px;
}

#BMapLib_transBox0 input,#BMapLib_searchBox0 input{

	height: 24px !important;
	margin-bottom: 0px !important;
	
}
.mvt_161125 .detail-main .hotel-info .info ul .info_mn .col_tb .posi {
	min-height: 30px;
	
}

.mvt_161125 .detail-main .hotel-info .info ul .info_mn .right{
	top:30px !important;
	height: 96px !important;
}
